
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
  <title>Flask-File Drag Drop System</title>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 5%; height: 200px; width: 400px;') }}
</head>
<body>
  <h1>
    Are Your Plants Healthy?
  </h1>
	<h2> 
	  Here is the place to drop your image 
  </h2>
  <div class="dropzone-container-div">
    <div></div>
      {{ dropzone.create(action='upload') }}
      {{ dropzone.load_js() }}
      {{ dropzone.config(custom_options="success: function(file, response){document.getElementById('but2').innerText = file.name, document.getElementById('but1').innerText = response.data }") }}
    </div>
  </div>

<!-- document.querySelector("p").innerText = response -->
<div class="button-container-div">
  <button id="but1" class = "findings">The result of the analysis will appear here!</button>  
</div>  


<div class="button-container-div">
    <button id="but2" class = "findings"></button>  
</div>
  
  <div class="button-container-div">
    <button id="but3" onClick="document.getElementById('but1').innerHTML = 'The result of the analysis will appear here!'" type="button" class="button">OK</button>
  </div>
  
</body>
</html>