
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
  
  <title>Flask-File Drag Drop System</title>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 5%; height: 200px; width: 400px;') }}
</head>
<body>
  <h1>
    Are Your Plants Healthy?
  </h1>
	<h2> 
	  Here is the place to drop an image of your plant's leaves. 
  </h2>
  <h2>
    It will be analysed.
  </h2>
  <div id="drop" class="dropzone-container-div">
    <div></div>
      {{ dropzone.create(action='upload') }}
      {{ dropzone.load_js() }}
      {{ dropzone.config(custom_options="success: function(file, response)
      {document.getElementById('but1').innerText = response.data;
      
      if(response.errors === 'Learn more about Healthy Potatoes'){
        const a = document.getElementById('but3');
        a.onclick = function () {
          window.open('https://www.potatopro.com/world/potato-statistics')
        }
        console.log(response.errors);
        a.innerText = response.errors;
      }
      if(response.errors === 'Learn more about Early Blight'){
        const b = document.getElementById('but3');
        b.onclick = function () {
          window.open('https://extension.umn.edu/disease-management/early-blight-tomato-and-potato')
        }
        console.log(response.errors)
        b.innerText = response.errors;
      }
      if(response.errors === 'Learn more about Late Blight'){
        const c = document.getElementById('but3');
        c.onclick = function () {
          window.open('https://extension.umn.edu/disease-management/late-blight#monitoring-for-late-blight-3038010')
        }
        console.log(response.errors)
        c.innerText = response.errors;
      }
    
    }") }}
    </div>
  </div>

<!-- document.querySelector("p").innerText = response -->
<div class="button-container-div">
  <button id="but1" class = "findings">The result of the analysis will appear here!</button>  
</div>  

  <div class="button-container-div">
    <button id="but2" onClick="window.location.reload();" type="button" class="button">New Analyses</button>
    <button id="but3" onClick="window.open('https://www.potatopro.com/world/potato-statistics');" type="button" class="button">Learn More</button>
  </div>
  <script type="text/javascript" src="{{url_for('static', filename='js/myfunctions.js')}}"></script>
</body>
</html>